<section id="navigation">
    <span class="button"><a href="{{ path('dashboard') }}" title="Dashboard"><</a></span>
    <span class="button"><a href="{{ path('new-submission')}}" title="Add new Submmision">+</a></span>
    <span class="button"><a href="#top">Last</a></span>
    <span class="button"><a href="#sets">Sets</a></span>
    <span class="button warning"><a href="{{ path('app_logout')}}">Log Out</a></span>
</section>
