    <section id="navigation">
        <span class="button"><a href="{{ path('settings') }}" title="Back"><</a></span>
        <span class="button"><a href="{{ path('new-criterion') }}">+</a></span>
        <span class="button"><a href="#top">Top</a></span>
        <span class="button warning"><a href="{{ path('app_logout')}}">Log Out</a></span>
    </section>