<section id="navigation">
    <span class="button"><a href="{{ path('settings') }}" title="Back to Settings"><</a></span>
    <span class="button"><a href="#new">+</a></span>
    <span class="button"><a href="#top" title="Last files">Last</a></span>
    <span class="button"><a href="#image">Images</a></span>
    <span class="button"><a href="#other">Other</a></span>
    <span class="button warning"><a href="{{ path('app_logout')}}">Log Out</a></span>
</section>
