<section id="navigation">
    <span class="button"><a href="{{ path('dashboard') }}" title="Back"><</a></span>
    <span class="button"><a href="#top">Top</a></span>
    <span class="button"><a href="#list">List</a></span>
    <span class="button"><a href="#import">Import</a></span>
    <span class="button warning"><a href="{{ path('app_logout')}}">Log Out</a></span>
</section>
